<header class="header">
	<div class="top">
		<div class="container">
			<div class="list_menu">
				<a class="item" href="#">#ƯU ĐÃI</a>
				<a class="item" href="#">#HỌC BỔNG TRỌN ĐỜI</a>
				<a class="item" href="#">#SPEAK UP</a>
				<a class="item" href="#">#ILA Connect</a>
				<a class="item" href="#">#ILO</a>
				<a class="item" href="#">#OLA</a>
				<a class="item" href="#">#ILA DU HỌC</a>
				<a class="item" href="#">#TIẾNG ANH DOANH NGHIỆP</a>
			</div>
		</div>
	</div>

	<div class="navbar_menu">
		<div class="container">
			<div class="navbar_menu_inner">
				<a class="navbar_menu_logo" href="/index.html">
					<img src="/assets/images/logo.jpg" alt="logo" />
				</a>

				<a class="navbar_menu_link active" href="#">Giới thiệu</a>
				<a class="navbar_menu_link has_sub" href="#">Chương trình học</a>
				<a class="navbar_menu_link" href="#">Cơ sở vật chất</a>
				<a class="navbar_menu_link" href="#">Giáo viên</a>
				<a class="navbar_menu_link" href="#">Trung tâm</a>
				<a class="navbar_menu_link" href="#">ILAVerse </a>
				<a class="navbar_menu_link" href="#">Tuyển dụng </a>

				<a class="navbar_menu_register_now" href="#"> Đăng ký ngay </a>

				<div class="navbar_menu_lang">
					<img class="navbar_menu_lang_active" src="/assets/images/lang_vi.png" alt="lang active" />

					<div class="navbar_menu_lang_list">
						<a href="#" class="navbar_menu_lang_item">
							<img src="/assets/images/lang_vi.png" alt="lang vi" />
						</a>
						<a href="#" class="navbar_menu_lang_item">
							<img src="/assets/images/lang_en.png" alt="lang en" />
						</a>
					</div>
				</div>

				<div class="navbar_menu_right_mb">
					<div class="navbar_menu_toggle_bars">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z" /></svg>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
